---
---

@import 'fonts';
@import 'mixins';
@import 'main';
@import 'colours';

body {
    background-color: $emerald;
    height: 100%
}
#main {
    min-height: 100%;
    margin: 0 auto -155px;
}

#posts-wrapper {
    height: 500px;
    min-width: 250px;
    max-width: 550px;
    background-color: darken( $emerald, 10% );
    margin: 0 auto;
    @include borderRadius(6px);
    padding: 10px;
}

.post {
    h1 {
        font-family: "Droid Serif";
    }
    p {
        font-family: "Droid Sans";
    }
}


