#main-head {
  font-family: 'Droid Serif', Georgia, Times, serif;
  font-size: 34pt;
  text-align: center;
  color: white;
}
#main-about {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  margin: auto;
  width: 300px;
}